footer {
  padding: 1.4vh 1.4vh;
  background-color: #353b48;
  color: #e5e6ea;
  font-family: "Frank Ruhl Libre", serif;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #cccdc1;
  font-size: 1.2rem;
}

.NavBtn {
  font-family: "Hachi Maru Pop", cursive;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #303952;
  color: white;
  text-align: center;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border: none;
  z-index: 1;
  border-radius: 2px;
}

.NavContainer {
  position: absolute;
  z-index: 0;
  width: 120%;
}

.navigation {
  position: fixed;
  padding-top: 150px;
  padding-left: 30px;
  background-color: #222f3e;
  width: 250px;
  height: 100vh;
}

.showNav {
  transform: translateY(97%);
  transition: transform 0.3s ease-in-out;
}
