:root {
  --main-bg-color: #222222;
  --text-white-color: #cccdc1;
}

html,
body,
div,
nav {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

footer {
  padding: 1.4vh 1.4vh;
  background-color: #353b48;
  color: var(--text-white-color);
  font-family: "Frank Ruhl Libre", serif;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--text-white-color);
  font-size: 1.2rem;
}

.NavBtn {
  font-family: "Hachi Maru Pop", cursive;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--main-bg-color);
  color: white;
  text-align: center;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border: none;
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
}

.navigation {
  position: fixed;
  left: -300px;
  padding-top: 150px;
  padding-left: 30px;
  background-color: var(--main-bg-color);
  width: 250px;
  height: 100vh;
}

.navigation form {
  width: 250px;
  margin-bottom: 30px;
}
.navigation form div {
  width: 200px;
  border-bottom: 1px solid var(--text-white-color);
}
.navigation form input {
  height: 20px;
  background-color: var(--main-bg-color);
  border: none;
}
.navigation form input:focus {
  outline: none;
  color: var(--text-white-color);
}
.navigation form button {
  background-color: var(--main-bg-color);
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  color: var(--text-white-color);
  cursor: pointer;
}
.navigation form button:focus {
  outline: none;
}
.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-white-color);
}

.navLink:hover {
  text-decoration: underline;
}
